@import 'imports';

* {
  box-sizing: border-box;
}

body {
  color: v(text-color);
}

#e {
  position: relative;
  height: 0;
  z-index: v(z-index-base);
  #e-md {
    width: 0;
    height: 0;
    z-index: v(z-index-modal);
  }
  #e-tt {
    width: 0;
    height: 0;
    z-index: v(z-index-tooltip);
  }
}
