// Custom styles for the documentation pages.
$variants: ('primary', 'secondary', 'green'); // The green variant is used as example.

@import '../../../../src/theme/elements.scss';

:root {
  --vp-c-brand-1: #2c4bff;
  --vp-c-brand-2: #2241ec;
  --vp-c-brand-3: #1935d6;
  --code-fade: linear-gradient(transparent, var(--vp-c-bg) 100%);
}

.dark {
  --vp-c-brand-1: #7c97f7;
  --vp-c-brand-2: #6283d8;
  --vp-c-brand-3: #4756b8;
  --code-fade: linear-gradient(transparent, var(--vp-c-bg) 100%);
}

body {
  .vp-block,
  .vp-doc div[class*='language-'] {
    @media (min-width: 640px) {
      border-radius: var(--border-radius) !important;
    }
  }

  .VPDocOutlineDropdown button,
  .vp-doc .custom-block,
  .pager-link {
    border-radius: var(--border-radius) !important;
  }

  .vp-code-group div[class*='language-'] {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

  .vp-doc :not(pre) > code {
    border-radius: calc(var(--border-radius) / 2) !important;
  }
}

h1 code {
  position: relative;
  top: -0.25rem;
  font-size: 1rem !important;
}
