@import '../../theme/imports';

$form: c('EFormInput');
$component: c('ETextarea');

@mixin variants {
  @each $variant in $variants {
    &.#{$component}--#{$variant} {
      &.#{$form}--highlight .#{$component}-target {
        border-color: variant($variant, border-color);
      }

      .#{$component}-target {
        &:focus {
          border-color: variant($variant, border-color, focus);
          box-shadow: 0
            0
            0
            v(focus-shadow-size)
            variant($variant, box-shadow-color);
        }

        &:disabled {
          border-color: variant($variant, border-color, disabled);
          color: v(text-color--disabled, $component);
        }
      }
    }
  }
}

.#{$component} {
  display: inline-flex;
  flex-direction: column;
  line-height: v(line-height, $component);

  @include variants;

  &.#{$component}--block {
    display: flex;
    width: 100%;
  }

  .#{$component}-inner {
    display: flex;
  }

  .#{$component}-target {
    position: relative;
    width: 100%;
    max-width: 100%; // Prevent resize outside container.
    display: flex;
    flex: 1;

    margin: 0; // Some browsers add margin to textarea.
    padding: v(padding-y, $component) v(padding-x, $component);

    background-color: v(background-color, $component);
    border: v(border-width, $component) solid v(border-color, $component);
    border-radius: v(border-radius, $component);

    color: v(text-color, $component);
    font: inherit;
    font-size: v(font-size, $component);
    outline: none;
    appearance: none;

    transition:
      border-color v(transition-time) v(transition-type),
      box-shadow v(transition-time) v(transition-type);

    &::placeholder {
      color: v(placeholder-color, $component);
    }

    &:disabled {
      background-color: v(background-color--disabled, $component);
      border-color: v(border-color--disabled, $component);
      color: v(text-color--disabled, $component);

      &::placeholder {
        color: v(placeholder-color--disabled, $component);
      }
    }
  }
}
