@use 'sass:math';
@import '../../theme/imports';

$component: c('ETooltip');

.#{$component}-trigger {
  display: inline-flex;
}

.#{$component} {
  display: inline-flex;
  color: v(text-color, $component);
  pointer-events: none;
  position: absolute;
  width: max-content;
  top: 0;
  left: 0;
  z-index: v(z-index, $component);

  border-radius: v(border-radius, $component);
  padding: v(padding-y, $component) v(padding-x, $component);
  font-size: v(font-size, $component);
  max-width: v(max-width, $component);
  background-color: v(background-color, $component);
  box-shadow: v(box-shadow, $component);
  transform-origin: center;

  &.interactive {
    pointer-events: all;
  }

  .#{$component}-arrow {
    position: absolute;
    background-color: v(background-color, $component);
    transform: rotate(45deg);
  }
}

.#{$component}-animation-enter-active,
.#{$component}-animation-leave-active {
  transition: opacity calc(v(transition-time)) v(transition-type);
}

.#{$component}-animation-enter-from,
.#{$component}-animation-leave-to {
  opacity: 0;
}
