@import '../../../theme/imports';

.#{c('EFormControl')} {
  line-height: v(line-height);
}

.#{c('EFormControl') + e('label')} {
  font-weight: 500;
  margin-bottom: v(spacing-xs);
  font-size: v(text-md);
}

.#{c('EFormControl') + e('description')},
.#{c('EFormControl') + e('hint')},
.#{c('EFormControl') + e('feedback')} {
  display: block;
  font-size: v(text-sm);

  &.#{c('EFormControl') + e('hint')} {
    color: v(text-color--light);
  }

  &.#{c('EFormControl') + e('feedback')} {
    &.#{c('EFormControl') + e('feedback') + m('error')} {
      color: color('error', 9);
    }

    &.#{c('EFormControl') + e('feedback') + m('success')} {
      color: color('success', 9);
    }
  }
}

.#{c('EFormControl')} {
  &:not(.#{c('EFormControl') + m('field')}) {
    .#{c('EFormControl')
      + e('description')}
      + .#{c('EFormControl')
      + e('feedback')} {
      margin-top: calc(v(spacing-xs) / 2);
    }
  }

  &.#{c('EFormControl') + m('field')} {
    .#{c('EFormControl') + e('feedback')},
    .#{c('EFormControl') + e('hint')} {
      margin-top: calc(v(spacing-xs) / 2);
    }

    .#{c('EFormControl') + e('feedback')},
    .#{c('EFormControl') + e('description')} {
      margin-bottom: calc(v(spacing-xs) / 2);
    }
  }

  &.#{c('EFormControl') + m('margin')} {
    margin-bottom: v(spacing);
  }
}
