@use 'sass:math';
@import '../../theme/imports';

$component: c('ELoading');

.#{$component} {
  display: flex;

  // Width and height are set to 1em to match the font-size of the parent
  // element.
  width: 1em;
  height: 1em;

  border-width: v(border-width, $component);
  border-style: solid;

  // Border color is set to currentColor to match the color of the parent
  // element.
  border-color: currentColor;
  border-right-color: transparent;
  border-radius: 50%;

  animation: #{$component}-animation v(animation-time, $component) linear infinite;
}

@keyframes #{$component}-animation {
  100% {
    transform: rotate(360deg);
  }
}
